.button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 20px;
    font-stretch :ultra-expanded;
    width: 170px;
    height: 40px;
    border-radius: 10px;
}

.warna-primer{
    color: #19D1A3;
}

.bg-warna-primer{
    background-color: #19D1A3;
}

.konten:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}