.button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 20px;
    font-stretch :ultra-expanded;
    width: 170px;
    height: 40px;
    border-radius: 10px;
}

.warna-primer{
    color: #19D1A3;
}

.bg-warna-primer{
    background-color: #19D1A3;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #FFFFFF !important;
}

.col-md-5 {
	overflow: auto;
}

::-webkit-scrollbar {
  	width: 10px;
}

::-webkit-scrollbar-track {
  	box-shadow: inset 0 0 5px white; 
  	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background: black; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  	background: black; 
  }
